$brand-color: #051C43 !default;
$brand-grey: #E6E9EC !default;
$brand-bg: #020A11 !default;
$brand-purple: #5856E8 !default;
$brand-blue-light: #8be5e3 !default;
$brand-orange: #FF7642 !default;
$brand-text: #ACACAC !default;
$grey100: #051C43 !default;
$grey90: #22445F !default;
$grey75: #476175 !default;
$grey60: #5b5b5b !default;
$grey50: #8495A3 !default;
$grey40: #F3F3F3 !default;
$grey10: #F9F9F9 !default;
$grey5: #F6F9FF !default;
$white: #FFFFFF !default;

$red: red !default;


/* font-size */
/* h1 */
$h1: 42px !default;
$h1-big: 36px !default;
$h1-lg: 36px !default;
$h1-md: 30px !default;
$h1-sm: 30px !default;
$h1-xs: 30px !default;


/* h2 */
$h2: 32px !default;
$h2-big: 26px !default;
$h2-lg: 24px !default;
$h2-md: 22px !default;
$h2-sm: 22px !default;
$h2-xs: 20px !default;
/* h3 */
$h3: 32px !default;
$h3-big: 24px !default;
$h3-lg: 22px !default;
$h3-md: 20px !default;
$h3-sm: 20px !default;
$h3-xs: 20px !default;
/* h4 */
$h4: 26px !default;
$h4-big: 20px !default;
$h4-lg: 20px !default;
$h4-md: 20px !default;
$h4-sm: 16px !default;
$h4-xs: 16px !default;
/* h5 */
$h5: 22px !default;
$h5-big: 22px !default;
$h5-lg: 20px !default;
$h5-md: 18px !default;
$h5-sm: 18px !default;
$h5-xs: 16px !default;
/* h6 */
$h6: 14px !default;
$h6-big: 14px !default;
$h6-lg: 14px !default; 
$h6-md: 14px !default;
$h6-sm: 14px !default;
$h6-xs: 14px !default;

/* base */
$base: 16px !default; 
$base-lg: 16px !default;
$base-md: 16px !default;
$base-sm: 16px !default;  

/* font-family */
$family-base: 'DM Sans', sans-serif !default;
$family-title:  'DM Sans', sans-serif !default;

/* breakpoints */
$screen-big-min: 1680px !default;
$screen-lg-min: 1200px !default;
$screen-md-min: 992px !default;
$screen-sm-min: 768px !default;
$screen-xs-min: 576px !default;
$screen-xss-min: 500px !default;
